
/* Your CSS Code here. */
* {
            margin: 0px;
            padding: 0px;
        }

        .nav-1 {
            width: 100%;
            color: white;
            padding: 30px;
            background-color: skyblue;
        }

        .nav-2 {
            font-size: 30px;
            display: inline;
            color: white;
            padding: 20px;
        }

        #img-1 {
            width: 400px;
            height: 400px;
        }